<!--左边栏目模块 start-->
<div class="logopanel">
	<span class="index-header">XXXXXX管理平台</span></a>
</div><!-- logopanel -->

<div class="leftpanelinner">

    <ul class="nav nav-pills nav-stacked nav-bracket">


        <li id="user" class="nav-parent">
            <a href=""><i class="glyphicon glyphicon-user"></i> <span>用户管理</span></a>
            <ul class="children">
                <li id="user_1"><a href="#url('user/list')"><i class="fa fa-caret-right"></i> 用户列表</a></li>
            </ul>
        </li>

        

        <li id="role" class="nav-parent">
            <a href=""><i class="fa fa-delicious"></i> <span>角色相关管理</span></a>
            <ul class="children">
                <li id="role_1"><a href="#url('role/roleList')"><i class="fa fa-caret-right"></i> 角色管理</a></li>
                <li id="role_2"><a href="#url('menu/menuList')"><i class="fa fa-caret-right"></i> 菜单管理</a></li>
                <li id="role_3"><a href="#url('role/roleAndPower')"><i class="fa fa-caret-right"></i> 角色和权限</a></li>
                <li id="role_4"><a href="#url('user/roleAndUser')"><i class="fa fa-caret-right"></i> 角色和用户</a></li>
            </ul>
        </li>

        

    </ul>

    <div class="infosummary">

    </div><!-- infosummary -->

</div><!-- leftpanelinner -->